	<div class="centered">
  		<div class="slideshow">
			<img ng-repeat="slide in slides" class="slide" ng-src="{{slide.image}}"ng-hide="!isCurrentSlideIndex($index)">
		</div>
		<div>
			<div class="input">
				<form ng-submit="onClick()" class="cargame">
					<input ng-model="answer">
					<br>
					<input class="submit" type="submit" value="submit" >
				</form>
			</div>
			<div>
                        
                                <label>{{second}}</label>
                  		<progress ng-model="second" max="30"></progress>
                        
			</div>
			</div>
			<p>{{points}}</p>
			<div class="highscore">
      			<ol> Highscores
					<li></li>		
					<li></li>
					<li></li>
					<li></li>		
					<li></li>
					<li></li>
					<li></li>		
					<li></li>
					<li></li>
					<li></li>
		  		</ol>
			</div>
		</div>


