<!DOCTYPE html>
<html ng-app="carpro">
	<head>
		<link type="text/css" rel="stylesheet" href="css/style.css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.15/angular.min.js"></script>     
		<script type="text/javascript" src="javascript/index.js"></script> 
	</head>
	<body class="bordered">
	<div class="centered" ng-controller="CargameController">
  		<div class="slideshow">
			<img ng-repeat="slide in slides" class="slide" ng-src="{{slide.image}}"ng-hide="!isCurrentSlideIndex($index)">
		</div>
		<div>
			<div class="input">
				<form ng-submit="onClick()" class="cargame">
					<input ng-model="answer">
					<br>
					<input class="submit" type="submit" value="submit" >
				</form>
			</div>
			<div>
                        
                                <label>{{second}}</label>
                  		<progress ng-model="second" max="30"></progress>
                        
			</div>
			</div>
			<div class="highscore">
      			<ol> Highscores
					<li></li>		
					<li></li>
					<li></li>
					<li></li>		
					<li></li>
					<li></li>
					<li></li>		
					<li></li>
					<li></li>
					<li></li>
		  		</ol>
			</div>
		</div>
	</body>
</html>


